@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.daily-details-grid-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.daily-details-grid-item-title {
  font-weight: bold;
}
.daily-details-grid-item-value {
  color: grey;
}
